@mixin white-hover() {
  background: white;
  color: $dark-orange;
  cursor: pointer;
}

@mixin black-hover() {
  background: black;
  color: white;
  cursor: pointer;
}

@mixin container {
  border-radius: 8px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 0 3rem 5.5rem;
}

@mixin container-rev {
  width: fit-content;
  height: 8.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin opacity-dark {
  opacity: 0.5;
  color: black;
}
